header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
	font:helvetica;
}
nav {
     line-height:30px;
     background-color:#eeeeee;
     height:300px;
     width:100px;
     text-align:center;
     padding:5px;
     font:helvetica;
}
section {
      width:350px;
      text-align:center;
      padding:10px;
}