header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
	font-family:helvetica;
}
img.center {
	  display:block;
	  text-align:center;
}
nav {
     line-height:30px;
     background-color:#eeeeee;
     height:300px;
     width:100px;
     text-align:center;
     padding:5px;
     font-family:helvetica;
}
a:link{
	color:gray;
	background-color:transparent;
	text-decoration:none;
}
a:visited{
	color:red;
	background-color:transparent;
	text-decoration:none;
}
a:hover{
	color:white;
	background-color:transparent;
	text-decoration:none;
}
section {
      font-family:helvetica;
}
list {
     list-style-type:circle;
}