header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
	font-family:helvetica;
}
nav {
     line-height:30px;
     background-color:#eeeeee;
     text-align:center;
     font-family:helvetica;
}
a:link{
	color:gray;
	background-color:transparent;
	text-decoration:none;
}
a:hover{
	color:white;
	background-color:transparent;
	text-decoration:none;
}
section {
      font-family:helvetica;
}